body {
  font-family: 'Mukta', sans-serif;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.container{
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.weather-app-wrapper {
  background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);;
}
.enter-city {
  display:block;
  margin:10px 0px;
  text-align: center;
}

.enter-city-input {
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
}

.current-city {
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.current-date {
  text-align: center;
  padding: 0;
}

.current-weather {
  margin: 5px 25px;
}

.weather-icon {
  float: left;
  position: relative;
  top: -6px;
}

.degrees {
  font-size: 60px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -22px;
}

.description:first-letter {
  text-transform: capitalize;
}