body {
  font-family: 'Mukta', sans-serif;
}

ul {
  list-style-type: none;
}

.container{
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.weather-app-wrapper {
  background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);;
}
.enter-city {
  display:block;
  margin:10px 0px;
  text-align: center;
}

.enter-city-input {
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
}

.current-city {
  font-size: 48px;
  text-align: center;
}

.current-date {
  text-align: center;
}

.current-weather {
  margin: 5px 25px;
}

.weather-icon, .degrees {
  font-size: 48px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -18px;
}

.forecast {
  margin: 5px 25px;
  text-align: center;
}